<div data-page="calendar" class="page navbar-fixed">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Calendar</div>
      <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
  <div class="page-content">

    <div id="ks-calendar-inline-container"></div>
    <hr>
    <div class="list-block media-list ">
      <ul>
        <li class="item-content">
          <div class="item-media"><img src="img/pic1.png" width="44" alt=""/></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">John Smith</div>
            </div>
            <div class="item-subtitle">New Jursey</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-media"><img src="img/pic2.png" width="44" alt=""/></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Kat Velliean</div>
            </div>
            <div class="item-subtitle">London</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-media"><img src="img/pic1.png" width="44" alt=""/></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Billie Jean</div>
            </div>
            <div class="item-subtitle">Switzerland</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-block-title">Default setup</div>
    <div class="list-block">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="text" placeholder="Your birth date" readonly="readonly" id="ks-calendar-default"/>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-block-title">Custom date format</div>
    <div class="list-block">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="text" placeholder="Seleccione fecha" readonly="readonly" id="ks-calendar-date-format"/>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-block-title">Multiple Values</div>
    <div class="list-block">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="text" placeholder="Select multiple dates" readonly="readonly" id="ks-calendar-multiple"/>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
