<div data-page="home" class="page navbar-fixed">
  <div class="navbar ">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" data-panel="left" class="open-panel link icon-only"><i class="fa fa-bars"></i></a></div>
        <div class="center ">Vantec</div>
        <!--
        <div class="right sliding"><a href="#"  data-panel="right" class="open-panel link icon-only"><i class="fa fa-envelope"></i></a></div>
        -->
    </div>
  </div>
  <div class="page-content hide-bars-on-scroll" >
    <div data-pagination=".swiper-pagination" data-paginationHide="true" class="swiper-container largebanner  swiper-init">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="textblock">
            <h2 class="maintitle col-100  ">Bienvenido</h2>
            <h4 class="col-100" id="home_fullname">---</h4>
            <!--
            <div class="item-subtitle star ">★★★★☆</div>
            <a href="#" class="button button-fill">read More...</a>--> </div>
            <img src="img/banner1.jpg" alt=""> 

        </div>
        <!--
        <div class="swiper-slide">
          <div class="textblock">
            <h2 class="maintitle col-100 ">Device Optimized</h2>
            <h4 class="col-100">Cell no: +91 000 000 0000</h4>
            <div class="item-subtitle star ">★★★★☆</div>
            <a href="#" class="button button-fill">read More...</a> </div>
          <img src="img/banner3.png" alt=""> </div>
        <div class="swiper-slide">
          <div class="textblock">
            <h2 class="maintitle col-100 ">Touch friendly</h2>
            <h4 class="col-100">Cell no: +91 000 000 0000</h4>
            <div class="item-subtitle star ">★★★★☆</div>
            <a href="#" class="button button-fill">read More...</a> </div>
          <img src="img/banner2.png" alt=""> </div>
        -->
      </div>
    </div>
        <div class="prductlist  content-block text-left">
            <h2><span class="fa fa-mobile titleicon"></span>100+ Multiple pages</h2>
            <p>Creative, User centric, new trend and royal feel with this appliaion design. Customer centric product and design is our main focus.</p>
        </div>
        <hr>
        <div class="prductlist  content-block text-right">
            <h2>20+ Color scheme<span class="fa fa-dot-circle-o titleicon"></span></h2>
            <p>Best suited color combination and mutiple pages are avialble for implementaion. All are in just click away from you.</p>
        </div>
        <hr>
        <div class="prductlist  content-block text-left">
            <h2><span class="fa fa-bolt titleicon"></span>Powerful</h2>
            <p>Powered by framework7 and has large veriety of contrls and components to create new things with it.</p>
        </div>
        <hr>
        <div class="prductlist  content-block text-right">
            <h2>Creative<span class="fa fa-hand-peace-o titleicon"></span></h2>
            <p>We design with samrt material design cocet with flat UI to stay tued with trend and business markets of our customers.</p>
        </div>
      
        <div class=" darkbgblock  content-block">
            <h2><span class="fa fa-hand-peace-o titleicon"></span>Contrast and Ideas</h2>
            <p>Fr making it device ready we even thought of brightness and created birghter contrast layout with this design.</p>
            <img class="imgdevidertext" src="img/banner4.png" alt="">
        </div>
      
      <div class="prductlist  content-block">
        <p class=""> Creative, User centric, new trend and royal feel with this appliaion design. Customer centric product and design is our main focus.</p>
        <div class="row">
            <div class="card tablet-50">
                <div class="card-content"> 
                    <div class="banner productblock"> <img src="img/team1.jpg" class="col-100" alt="banner1"> <a class="cartfloating floating-button " href="#"><i class="fa fa-plus"></i></a> </div>
                    <div class="content-block productdata ">
                        <h2 class="maintitle col-100 ">Mr. John Doe</h2>
                        <p class="col-100">Cell no: +91 000 000 0000</p>
                        <div class="item-subtitle star ">★★★★☆</div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="card  tablet-50">
                <div class="card-content"> 
                    <div class="banner productblock"> <img src="img/team2.jpg" class="col-100" alt="banner1"> <a class="cartfloating floating-button " href="#"><i class="fa fa-plus"></i></a> </div>
                    <div class="content-block productdata ">
                        <h2 class="maintitle col-100 ">Mr. Max Smith</h2>
                        <p class="col-100">Cell no: +91 000 000 0000</p>
                        <div class="item-subtitle star ">★★★★☆</div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="card  tablet-50">
                <div class="card-content"> 
                    <div class="banner productblock"> <img src="img/team3.jpg" class="col-100" alt="banner1"> <a class="cartfloating floating-button " href="#"><i class="fa fa-plus"></i></a> </div>
                    <div class="content-block productdata ">
                        <h2 class="maintitle col-100 ">Mr. Srikant Doe</h2>
                        <p class="col-100">Cell no: +91 000 000 0000</p>
                        <div class="item-subtitle star ">★★★★☆</div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
           
        </div>
      </div>
      
      <hr>
      
    
      <div class="inputs-list content-block" >
          <h2 class="maintitle  center">Contact us</h2>
            <p class="center" >We will be back on your provided email address</p>
      </div>
      <div class="list-block">
          <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Your name</div>
                <div class="item-input">
                  <input type="text" placeholder=""/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">E-mail</div>
                <div class="item-input">
                  <input type="email" placeholder=""/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Phone</div>
                <div class="item-input">
                  <input type="tel" placeholder=""/>
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Message/Queries</div>
                <div class="item-input">
                  <textarea class="resizable"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
        </div>
      <div class="content-block"> <a href="home.html" class="button button-fill ">Get in touch</a> </div>
      <hr>

      <div class="content-block ">
        <h2 class="center">Our Services</h2>
        <p class="center">Transperant and hasselfree</p>
        <p class="center"> Creative, User centric, new trend and royal feel with this appliaion design. Customer centric product and design is our main focus. </p>
        <div class="list-block col-100">
          <ul>
            <li>
                <a href="#" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">Wordpress</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">Web UI/UX</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">Mobile UI/UX</div>
                    </div>
                </a>
            </li>
           
          </ul>
        </div>
        <a href="services.html" class="button button-fill ">More...</a> 
        
    </div>
    <hr>
    <div class="center content-block ">
      <div class=""><img src="img/phone.png" alt=""></div>
      <h2 class=""> 000 000 000 </h2>
      <p class=""> Call Us </p>
    </div>

    <div class="testimonials  center content-block" >
        <br>
        <h2> Testmonials </h2>
        <p class=""> What our client say </p>
     
      <div data-pagination=".swiper-pagination" data-paginationHide="true" class="swiper-container banner  swiper-init ks-demo-slider2">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="row">
              <p class="col-100"> Very good and Excellent solution of every project. Creative, User centric, new trend and royal feel with this appliaion design. Customer centric product and design is our main focus</p>
            </div>
            <div class="clear"></div>
            <div class=" content-block">
              <div class="pic"><img src="img/pic1.png" alt="" ></div>
              <h2 class="">Max Smith</h2>
              <p>Patient, California</p><br>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="row">
              <p class="col-100"> Very good and Excellent solution of every project. Creative, User centric, new trend and royal feel with this appliaion design. Customer centric product and design is our main focus.</p>
            </div>
            <div class="clear"></div>
            <div class=" content-block">
              <div class="pic"><img src="img/pic2.png" alt="" ></div>
              <h2 class="">John Smith</h2>
              <p>Patient, California</p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
      
      <div class="content-block ">
            <h2 class="center">Web Application Icons</h2>
            <p class="center">500+ icons from fontawesome</p>
            <br>
            <section class="iconset"   >
              <a href=""><i class="fa fa-bluetooth-b" aria-hidden="true"></i> bluetooth-b</a> <a href=""><i class="fa fa-bolt" aria-hidden="true"></i> bolt</a> <a href=""><i class="fa fa-bomb" aria-hidden="true"></i> bomb</a> <a href=""><i class="fa fa-book" aria-hidden="true"></i> book</a> <a href=""><i class="fa fa-bookmark" aria-hidden="true"></i> bookmark</a> <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i> bookmark-o</a> <a href=""><i class="fa fa-braille" aria-hidden="true"></i> braille</a> <a href=""><i class="fa fa-briefcase" aria-hidden="true"></i> briefcase</a> <a href=""><i class="fa fa-bug" aria-hidden="true"></i> bug</a> <a href=""><i class="fa fa-building" aria-hidden="true"></i> building</a> <a href=""><i class="fa fa-cab" aria-hidden="true"></i> cab <span class="text-muted">(alias)</span></a> <a href=""><i class="fa fa-calculator" aria-hidden="true"></i> calculator</a> <a href=""><i class="fa fa-calendar-check-o" aria-hidden="true"></i> calendar-check-o</a> <a href=""><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> calendar-minus-o</a> <a href=""><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> calendar-plus-o</a> <a href=""><i class="fa fa-calendar-times-o" aria-hidden="true"></i> calendar-times-o</a> <a href=""><i class="fa fa-camera" aria-hidden="true"></i> camera</a> <a href=""><i class="fa fa-camera-retro" aria-hidden="true"></i> camera-retro</a> <a href=""><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> caret-square-o-down</a> <a href=""><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> caret-square-o-left</a> <a href=""><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> caret-square-o-right</a> <a href=""><i class="fa fa-caret-square-o-up" aria-hidden="true"></i> caret-square-o-up</a> <a href=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> cart-arrow-down</a> <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> cart-plus</a> <a href=""><i class="fa fa-cc" aria-hidden="true"></i> cc</a> <a href=""><i class="fa fa-certificate" aria-hidden="true"></i> certificate</a> <a href=""><i class="fa fa-check" aria-hidden="true"></i> check</a> <a href=""><i class="fa fa-check-circle" aria-hidden="true"></i> check-circle</a> <a href=""><i class="fa fa-check-circle-o" aria-hidden="true"></i> check-circle-o</a> <a href=""><i class="fa fa-check-square-o" aria-hidden="true"></i> check-square-o</a> <a href=""><i class="fa fa-child" aria-hidden="true"></i> child</a> <a href=""><i class="fa fa-circle-o" aria-hidden="true"></i> circle-o</a> <a href=""><i class="fa fa-circle-o-notch" aria-hidden="true"></i> circle-o-notch</a> <a><i class="fa fa-circle-thin" aria-hidden="true"></i> circle-thin</a> <a href=""><i class="fa fa-clock-o" aria-hidden="true"></i> clock-o</a> <a href=""><i class="fa fa-clone" aria-hidden="true"></i> clone</a> <a href=""><i class="fa fa-cloud" aria-hidden="true"></i> cloud</a> <a href=""><i class="fa fa-cloud-download" aria-hidden="true"></i> cloud-download</a> <a href=""><i class="fa fa-code" aria-hidden="true"></i> code</a> <a href=""><i class="fa fa-code-fork" aria-hidden="true"></i> code-fork</a> <a href=""><i class="fa fa-coffee" aria-hidden="true"></i> coffee</a> <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i> comment-o</a> 
          </section>
    </div>
    <hr>
    <div class="content-block">
            <h2 class="center">We are at social</h2>
            <p class="center">Get connected with us on social</p>
            <ul class="socials">
                <li><a href="" class="fb"><i class="fa fa-facebook"></i></a></li>
                <li><a href="" class="tw"><i class="fa fa-twitter"></i></a></li>
                <li><a href="" class="gp"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="" class="pin"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="" class="env"><i class="fa fa-envelope"></i></a></li>
            </ul>
    </div>
      <hr>
    <div class="content-block  center">
        <span class="">Copyright 2016. All Rights Reserved. </span>
    </div>
  </div>
</div>