<div data-page="readerhome" class="page navbar-fixed">
  <div class="navbar ">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" data-panel="left" class="open-panel link icon-only"><i class="fa fa-bars"></i></a></div>
        <div class="center ">MaxSmart</div>
        <div class="right sliding"><a href="#"  data-panel="right" class="open-panel link icon-only"><i class="fa fa-envelope"></i></a></div>
    </div>
  </div>
  <div class="page-content hide-bars-on-scroll " >
        <div class="item-content userprofile">
            <div class="item-media">
                <img src="img/pic1.png" width="44"  alt="">
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Max Smith</div>
              </div>
              <div class="item-subtitle">India44</div>
            </div>
        </div>
        <div class="content-block text-center" >
              <div class="row profiles">
                <div class="col-33 profiles">151</div>
                <div class="col-33 profiles">84k</div>
                <div class="col-33 profiles">26.3k</div>
            </div>
            <div class="row profile stats">
                <div class="col-33 profile stats">Post</div>
                <div class="col-33 profile stats">Followers</div>
                <div class="col-33 profile stats">Following</div>
            </div>
    </div>
    <hr>
    <article>
      <div class="list-block media-list">
            <ul class="home">
                  <li>
                    <div class="item-link item-content">
                      <div class="item-media"> <img width="40" height="40" style="border-radius:100%" src="img/pic1.png" alt=""> </div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="author">John Disaster</div>
                        </div>
                        <div class="time">
                          <time datetime="2015-08-30">June 30, 2016</time>
                        </div>
                      </div>
                    </div>
              </li>
            </ul>
            <img class="article" src="img/banner3.png" alt="">
            <div class="content-block">
                <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet porttitor lectus cursus posuere. </h3>
                <p> Aenean ligula ipsum, convallis sed mattis at, ullamcorper vitae leo. Nulla gravida eros ac auctor tempor. Nunc id diam ullamcorper, egestas ante lacinia, interdum quam. </p>
                <a class="button button-link" href="blogDetail.html">Read more</a>
            </div>
          </div>
     </article>
      <hr>
        <article>
            <div class="list-block media-list">
                <ul class="home">
                      <li>
                        <div class="item-link item-content">
                          <div class="item-media"> <img width="40" height="40" style="border-radius:100%" src="img/pic1.png" alt=""> </div>
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="author">John Doe</div>
                            </div>
                            <div class="time">
                              <time datetime="2015-08-30">June 25, 2016</time>
                            </div>
                          </div>
                        </div>
                  </li>
                </ul>
                <img class="article" src="img/banner1.png" alt="">
                <div class="content-block">
                    <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet porttitor lectus cursus posuere. </h3>
                    <p> Aenean ligula ipsum, convallis sed mattis at, ullamcorper vitae leo. Nulla gravida eros ac auctor tempor. Nunc id diam ullamcorper, egestas ante lacinia, interdum quam. </p>
                    <a class="button button-link" href="blogDetail.html">Read more</a>
                </div>
              </div>
        </article>
      <hr>
        <article>
            <div class="list-block media-list">
                <ul class="home">
                      <li>
                        <div class="item-link item-content">
                          <div class="item-media"> <img width="40" height="40" style="border-radius:100%" src="img/pic2.png" alt=""> </div>
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="author">MAx Smith</div>
                            </div>
                            <div class="time">
                              <time datetime="2015-08-30">June 5, 2016</time>
                            </div>
                          </div>
                        </div>
                  </li>
                </ul>
                <img class="article" src="img/banner2.png" alt="">
                <div class="content-block">
                    <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet porttitor lectus cursus posuere. </h3>
                    <p> Aenean ligula ipsum, convallis sed mattis at, ullamcorper vitae leo. Nulla gravida eros ac auctor tempor. Nunc id diam ullamcorper, egestas ante lacinia, interdum quam. </p>
                    <a class="button button-link" href="blogDetail.html">Read more</a>
                </div>
              </div>
        </article>
    <hr>      
         
    <div class="center content-block ">
      <div class=""><img src="img/phone.png" alt="" ></div>
      <h2 class=""> 000 000 000 </h2>
      <p class=""> Call Us </p>
    </div>

    <hr>
    <div class="content-block">
            <h2 class="center">We are at social</h2>
            <p class="center">Get connected with us on social</p>
            <ul class="socials">
                <li><a href="" class="fb"><i class="fa fa-facebook"></i></a></li>
                <li><a href="" class="tw"><i class="fa fa-twitter"></i></a></li>
                <li><a href="" class="gp"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="" class="pin"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="" class="env"><i class="fa fa-envelope"></i></a></li>
            </ul>
    </div>
      <hr>
    <div class="content-block  center">
        <span class="">Copyright 2016. All Rights Reserved. </span>
    </div>
  </div>
</div>
