<div data-page="proyectos_add" class="page navbar-fixed ">
  <div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="index.html" class="link icon-only"><i class="fa fa-chevron-left"></i></a></div>
        <div class="center ">AGREGUE NUEVO PROYECTO</div>
        <div class="right sliding"><a href="#" data-panel="left" class="open-panel link icon-only"><i class="fa fa-bars"></i></a></div>
    </div>
  </div>
  <div class="page-content hide-bars-on-scroll" >
    
       <form di>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title  label">Título del proyecto</div>
                <div class="item-input">
                  <input type="text" placeholder="" id="proyectos_add_titulo" />
                </div>
              </div>
            </div>
          </li>
        <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Fecha límite</div>
                <div class="item-input">
                  <input type="text" placeholder="" readonly="readonly" id="proyectos_add_cal"/>
                </div>
              </div>
            </div>
        </li>
             
        <li class="align-top">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title  label">Description</div>
              <div class="item-input">
                <textarea class="resizable" id="proyectos_add_description"></textarea>
              </div>
            </div>
          </div>
        </li>
         
          
        </ul>
      </div>
      </form>
      <div class="content-block" id="proyectos_add_submit">
            <a class=" button  color2 col-100">Agregar proyecto</a>
      </div>
  </div>
</div>
