<div data-page="sign-in" class="page">
  <div class="navbar header">
    <div class="navbar-inner">
      <div class="left sliding"><a href="index.html" class="link icon-only"><i class="fa fa-chevron-left"></i></a></div>
      </div>
  </div>
  <div class="page-content logins hide-bars-on-scroll">
      <div class="loginsimag row"><img  src="img/icon.png" alt=""></div>
      <div class="clear"></div>
       <form>
            <div class="list-block">
              <ul>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Email</div>
                    <div class="item-input">
                      <input class="style login3" type="email" name="email" placeholder="E-mail" value="Admin">
                    </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Password</div>
                    <div class="item-input">
                      <input class="style login3" type="password" name="password" placeholder="Password" value="admin">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </form>
            <div class="buttonbar row no-gutter">
                <a href="home.html" class="button-fill button col-100">ACCEDER</a>
            </div>
  </div>
</div>
