<div data-page="tareas" class="page navbar-fixed">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">lista de tareas</div>
      <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
  <div class="page-content">

    <!--
    <div id="ks-calendar-inline-container"></div>
    --> 
  
    <div class="list-block media-list ">
      <ul id="proyectos_list">
                
      </ul>
    </div>
    
  </div>
    <div class="speed-dial">
     <a href="#" class="floating-button">
      <!-- First icon is visible when Speed Dial actions are closed -->
      <i class="icon icon-plus"></i>
      <!-- Second icon is visible when Speed Dial actions are opened -->
      <i class="icon icon-close"></i>
    </a>
        
    
    <div class="speed-dial-buttons">
        <a href="tareas_add.html" class="color-green" ><i class="fa fa-plus-square"></i></a>
        <!--
        <a href="#" class="color-indigo" ><i class="fa fa-save"></i></a>
        <a href="#" class="color-pink"> <i class="fa fa-heart"></i> </a>
        <a href="#" class="color-orange">        <i class="fa fa-envelope"></i></a>
        -->
    </div>
  </div>
    
    
</div>
